
  .sidebar-nav{
      display:block;
  }
  #preloader{
      display:none !important;
  }
  
  @media (max-width: 450px){

  .balance-details .dashboard-card-header{
      display:block;
      
  }
  .dashboard-card-heading{
      margin-bottom:10px;
      display:block;
  }
  .balance-details .dashboard-card-header .btn-theme-sm{
      margin-left:0px;
  }
 #progressbar li{
     width:33% !important;
 }
      
  }
  
  
  
  
  
  
  /*----------------------------------------------------------- for side bar css only-----------------------------------------------------------*/
  
 
   @media (max-width: 992px){
 .hide_on_max_dashboard_992{
     display:none !important;
 } 
   }
  .dashboard-main{
      margin-top:10px !important;
  }
.hide_on_dashboard{
    display:none !important;
} 
header{
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important;
    background:white;
   z-index:9999999999 !important;
 
}
  .sidebar-btn-open{
      font-size: 30px;
    color: #242424;
  }
  @media (max-width: 992px){
     .sidebar.active {
    display: block;
    top: 0px !important;
    position: fixed !important;
    right: 0 !important;
    left:auto !important;
      }
      
.dashboard-sidebar {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: fixed;
    inset: 0px;
    z-index: 9999;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    transition: all 0.5s ease;
}
.dashboard-sidebar-flex{
    display:flex !important;
}
  }
    /*----------------------------------------------------------- for side bar css only-----------------------------------------------------------*/
  
  
  
 
   .dashboard-card-body .nav-link{
    font-size: 16px;
}
.dashboard-card-body .nav-pills .nav-link.active{
    font-size: 16px;
}
.btn-theme-gray{
   font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: #222222;
    background-color: #b8b6b6;
}
.btn-theme-gray:hover{
   background: linear-gradient(180deg, rgba(254, 192, 15, 1) 0%, rgba(248, 165, 50, 1) 100%);
   color: #222222;
}
.pay-method-text{
   color: #222222;
   font-size: 14px;
}
.pay-method-text:hover{
   color: #d5a419;
}
.pay-method-icon{
   box-sizing: border-box;
    margin: 0px 8px 0px 0px;
    min-width: 0px;
    width: 4px;
    height: 14px;
    border-radius: 4px;
    background: linear-gradient( 180deg, rgba(254,192,15,1) 0%, rgba(248,165,50,1) 100%);
    display: inline-block;
}

.form-control.no-border-field{
    padding: 0rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}
.atoz-filter{
   background-color: #fff;
   padding: 2px;
   border-radius: 2px;
   transition: 0.1s;
   margin-right: 2px;
   color: gray;
   display: inline-block;
   font-size: 14px;
}
.atoz-filter:hover{
   background-color: #eee;
}
.atoz-filter.active{
   background: linear-gradient( 180deg, rgba(254,192,15,1) 0%, rgba(248,165,50,1) 100%);
   color: #fff;
}
@media  only screen and (max-width: 600px) {
   .pay-method-mobile{
      display: flex;
    flex-basis: 100%;
   }
   .pay-method-mobile p, .pay-method-mobile span{
      font-size: 14px;
   }
   .pay-method-mobile span{
      text-align: right;
      flex: 1 1 0%;
   }
}
.card{
   border: 1px solid rgb(230, 232, 234);
}
.card-header {
    border-bottom: 1px solid rgb(230, 232, 234);
    background-color: #fafafa;
}

                                       .css-paytm-icon{
                                        box-sizing: border-box;
                                        margin: 0px 8px 0px 0px;
                                        min-width: 0px;
                                        width: 4px;
                                        height: 14px;
                                        border-radius: 4px;
                                        background-color: rgb(11, 45, 110);
                                        float: left;
                                        }
                                        .css-paymentInner{
                                            box-sizing: border-box;
                                            margin: 0px;
                                            min-width: 0px;
                                            font-weight: 400;
                                            font-size: 14px;
                                            line-height: 20px;
                                            float: left;
                                        }
                                        
                                        .css-imps-icon{
                                        box-sizing: border-box;
                                            margin: 0px 8px 0px 0px;
                                            min-width: 0px;
                                            width: 4px;
                                            height: 14px;
                                            border-radius: 4px;
                                            background-color: rgb(245, 121, 31);
                                            float: left;
                                        }
                                        
                                        .css-upi-icon{
                                        box-sizing: border-box;
                                            margin: 0px 8px 0px 0px;
                                            min-width: 0px;
                                            width: 4px;
                                            height: 14px;
                                            border-radius: 4px;
                                            background-color: rgb(109, 110, 114);
                                            float: left;
                                        }
                                       
                                        .css-enbank-icon{
                                            box-sizing: border-box;
                                            margin: 0px 8px 0px 0px;
                                            min-width: 0px;
                                            width: 4px;
                                            height: 14px;
                                            border-radius: 4px;
                                            background-color: rgb(240, 185, 11);
                                            float: left;
                                        }
                                        
        .css-paymentmethods{
        box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    /*background: rgb(255, 255, 255);*/
    height: 40px;
    padding: 0px 16px;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
        }
        
        #payMethod_confirmation_popup{
z-index: 9999;
display:none;            
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 50%;
            
        }
        
  .sidebar{
           /*height:100vh !important;*/
        }
       
  /*----------------------------------------------------------- payment methods -----------------------------------------------------------*/
       @media screen and (min-width: 767px){

.css-e4chz8 {
    margin: -32px -24px -24px;
    padding: 16px 24px;
}

.css-e4chz8 {
    box-sizing: border-box;
    min-width: 0px;
    background-color: rgb(249, 249, 250);
    margin: 0px;
    padding: 16px;
    flex: 1 1 0%;
}
}
@media screen and (min-width: 1023px){

.css-e4chz8 {
    margin: -32px;
    padding: 16px 32px;
}

}
@media screen and (min-width: 767px){

.css-e4chz8 {
    margin: -32px -24px -24px;
    padding: 16px 24px;
}

.css-e4chz8 {
    box-sizing: border-box;
    min-width: 0px;
    background-color: rgb(249, 249, 250);
    margin: 0px;
    padding: 16px;
    flex: 1 1 0%;
}


.css-13j7yrc {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    box-shadow: rgb(20 21 26 / 4%) 0px 1px 2px, rgb(71 77 87 / 4%) 0px 3px 6px, rgb(20 21 26 / 10%) 0px 0px 1px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    padding: 40px 24px;
}

.css-xale73 {
    max-width: 512px;
    margin: 0px auto;
    width: 100%;
}
form {
    display: block;
    margin-top: 0em;
}

.css-5r43gd {
    box-sizing: border-box;
    margin: 0px 0px 40px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.css-m5asha {
    box-sizing: border-box;
    margin: 60px 0px 0px;
    min-width: 0px;
}

element.style {
}

.css-y6mvi3 {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: rgb(118, 128, 143);
}
.css-1u4ulvl {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.css-19oj9bu {
    margin-top: 8px;
    line-height: 14px;
    font-size: 14px;
    color: rgb(248, 73, 96);
}
.css-efn41d + .css-efn41d {
    margin-top: 40px;
}
.css-18c7jg {
    box-sizing: border-box;
    margin: 4px 0px 0px;
    min-width: 0px;
    display: inline-flex;
    position: relative;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    border: 1px solid rgb(234, 236, 239);
    border-radius: 4px;
    width: 100%;
}
.css-19oj9bu {
    margin-top: 8px;
    line-height: 14px;
    font-size: 14px;
    color: rgb(248, 73, 96);
}
.css-7cm7ga {
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(250, 250, 250);
    border: 1px dashed rgb(230, 232, 234);
    width: 80px;
    text-align: center;
    cursor: pointer;
}
.css-1qborlq {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    color: rgb(118, 128, 143);
}
.css-1c82c04 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.css-w5bmew {
    box-sizing: border-box;
    margin: 8px 0px 16px;
    min-width: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(146, 154, 165);
}
.css-1xx49qh {
    box-sizing: border-box;
    margin: 0px -8px;
    min-width: 0px;
    display: flex;
}

.css-1e8zq2i {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}
.css-1e8zq2i {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}
.css-ulq18s {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 10px 16px;
    line-height: 20px;
    min-width: 60px;
    word-break: keep-all;
    color: rgb(24, 26, 32);
    border-radius: 4px;
    min-height: 24px;
    border: none;
    background-image: none;
    background-color: rgb(252, 213, 53);
    width: 100%;
}

.css-1e8zq2i {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}
.css-1iqy9ai {
    margin: 0px;
    appearance: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    outline: none;
    padding: 10px 16px;
    line-height: 20px;
    min-width: 60px;
    word-break: keep-all;
    color: rgb(30, 35, 41);
    border-radius: 4px;
    min-height: 24px;
    border: 1px solid rgb(234, 236, 239);
    background-color: transparent;
    box-shadow: none;
    width: 100%;
}
.css-18c7jg input {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    border: none;
}
}
.css-18c7jg input {
    color: rgb(30, 35, 41);
    font-size: 14px;
    padding-left: 8px;
    padding-right: 8px;
     width: 100%;
    border: none;
}
  
  
/* 20221130*/ 

 .all_success{
        float:right;
    }



.payment_method_section{
 padding:0px !important;
}
    .bi-x{
        color:red;
        float: left;
    }
    
 .bi.bi-chevron-right {
    font-size: 12px !important;
    margin: 1px 2px 0px 14px;
}
    @media screen and (min-width: 1023px)
{
.css-breadcrumbs {
    margin-left: -32px;
    margin-right: -32px;
    margin-top: -32px;
}
}
@media screen and (min-width: 767px)
{
.css-breadcrumbs {
    padding-left: 32px;
    padding-right: 32px;
    margin: -24px -24px 32px;
}
}
.css-breadcrumbs {
    min-width: 0px;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 4%) 0px 2px 4px;
    margin: 0px;
    display: block;
    background: white;
   
}
    
   
    .css-breadcrumbs_div{
        background: white;
  
        box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
   padding: 10px;
    -webkit-box-align: center;
    align-items: center;
    }
    .css-breadcrumbs_anchore{
        box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    text-decoration: none;
    color: rgb(71, 77, 87);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    transition: color 0.2s ease 0s;
    pointer-events: auto;
    }
    .css-breadcrumbs_method{
        box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(71, 77, 87);
    }
    .qrmsg{
        padding-top:8px;
        padding-bottom:8px;
    }
  